header {
  font-family: 'Lato', sans-serif;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  opacity: .80;
  border-bottom: 1px solid black;
  background-color: #e2be00;
}

header #info {
  opacity: 1;
}

header #info .wrapper {
  position: absolute;
  left: 10px;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 180px;
}

header #info .wrapper img {
  position: relative;
  top: -18px;
  left: -7px;
}

header #info p, header #info p:nth-child(2), header #info p:nth-child(3) {
  position: absolute;
  left: 65px;
  display: inline-block;
  margin: 0;
}

header #info p:nth-child(2) {
  top: 5px;
}

header #info p:nth-child(3) {
  top: 25px;
}

header #login {
  position: absolute;
  top: 0;
  right: 15px;
  opacity: 1;
}

header #login li {
  font-size: 25px;
  display: inline-block;
  margin: 0;
  padding: 13px 5px 17px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header #login li:hover {
  cursor: pointer;
  color: white;
  background-color: #330e9c;
}

#jumbotron {
  width: 100%;
  margin: 0;
}

#jumbotron .wrapper {
  overflow: hidden;
  height: 260px;
}

#jumbotron .wrapper img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.nav {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  background-color: #e29a00;
}

.nav ul {
  z-index: 5;
  height: 100%;
}

.nav ul li {
  z-index: 5;
  display: inline-block;
  height: 100%;
  margin-right: -4px;
}

.nav ul li a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  display: block;
  height: 100%;
  padding-top: 13px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: black;
}

.nav ul li a:hover {
  color: white;
  background-color: #8c5f00;
}

.nav .dropdown {
  position: absolute;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.nav .dropdown li {
  display: block;
  height: 50px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: #e29a00;
}

.nav .dropdown li:first-of-type {
  border-top: 1px solid black;
}

.nav .dropdown li:last-of-type {
  border-bottom: 1px solid black;
}

.nav .has_dropdown:hover .dropdown {
  display: block;
}

.main_body {
  overflow: hidden;
}

.main_body .sidebar {
  float: left;
  width: 13%;
  height: 100%;
  margin-bottom: -101%;
  padding: 10px 10px 101% 10px;
  background-color: #e2be00;
  border-right: 1px solid black;
}

.main_body .sidebar .featured, .main_body .sidebar .blog {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: white;
}

.main_body .sidebar .featured .title, .main_body .sidebar .blog .title {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid black;
  background-color: #e29a00;
}

.main_body .sidebar .featured .title div, .main_body .sidebar .blog .title div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main_body .sidebar .featured .img, .main_body .sidebar .blog .img {
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 0;
  padding-bottom: 75%;
}

.main_body .sidebar .featured .img img, .main_body .sidebar .blog .img img {
  width: 100%;
  object-fit: contain;
}

.main_body .sidebar .featured .info, .main_body .sidebar .blog .info {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  width: 100%;
  margin-top: 0;
}

.main_body .sidebar .blog {
  height: auto;
}

.main_body .sidebar .blog .title div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main_body .sidebar .blog .blog_posts {
  padding: 10px 5px;
  text-align: center;
}

.main_body .sidebar .blog .blog_posts a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #330e9c;
}

.main_body .sidebar .blog .blog_posts p, .main_body .sidebar .blog .blog_posts header #info p:nth-child(2), header #info .main_body .sidebar .blog .blog_posts p:nth-child(2), .main_body .sidebar .blog .blog_posts header #info p:nth-child(3), header #info .main_body .sidebar .blog .blog_posts p:nth-child(3) {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  margin-top: 2px;
}

.main_body .sidebar .blog .blog_posts p:last-child, .main_body .sidebar .blog .blog_posts header #info p:last-child:nth-child(2), header #info .main_body .sidebar .blog .blog_posts p:last-child:nth-child(2), .main_body .sidebar .blog .blog_posts header #info p:last-child:nth-child(3), header #info .main_body .sidebar .blog .blog_posts p:last-child:nth-child(3) {
  margin-top: 20px;
  margin-bottom: 0;
}

.main_body .sidebar .blog .blog_posts p:last-child a, .main_body .sidebar .blog .blog_posts header #info p:last-child:nth-child(2) a, header #info .main_body .sidebar .blog .blog_posts p:last-child:nth-child(2) a, .main_body .sidebar .blog .blog_posts header #info p:last-child:nth-child(3) a, header #info .main_body .sidebar .blog .blog_posts p:last-child:nth-child(3) a {
  font-size: 12px;
  font-weight: normal;
}

.main_body .sidebar .blog .blog_posts img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  vertical-align: -15%;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #330e9c;
  color: white;
  border-top: 1px solid black;
}

footer .footer_info_left {
  float: left;
  font-size: 12px;
}

footer .footer_info_left p, footer .footer_info_left header #info p:nth-child(2), header #info footer .footer_info_left p:nth-child(2), footer .footer_info_left header #info p:nth-child(3), header #info footer .footer_info_left p:nth-child(3) {
  margin: 0;
}

footer .footer_info_right {
  float: right;
  font-size: 12px;
}

footer .footer_info_right p, footer .footer_info_right header #info p:nth-child(2), header #info footer .footer_info_right p:nth-child(2), footer .footer_info_right header #info p:nth-child(3), header #info footer .footer_info_right p:nth-child(3) {
  margin: 0;
}

footer .footer_info_right a {
  color: white;
}

html,
body {
  margin: 0;
}

body {
  background-image: url("../images/subtle_white_mini_waves.png");
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.clearfix {
  clear: both;
}

.content {
  float: right;
  width: 85%;
  padding: 50px 30px;
}

.content h1 {
  font-family: "Merriweather", serif;
  text-align: center;
  text-decoration: underline;
}

.content .photo_grid {
  width: 100%;
  margin: 0 auto;
}

.content .photo_grid a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.content .photo_grid a .area_image {
  display: inline-block;
  margin: 0 30px 30px 30px;
}

.content .photo_grid a .area_image h3 {
  font-family: "Merriweather", serif;
  font-size: 30px;
  margin: 10px;
  text-align: center;
}

.content .photo_grid a .area_image .slideshow {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}

.content .photo_grid a .area_image .slideshow img {
  position: absolute;
  width: 300px;
  height: 300px;
}
