$font1: "Merriweather", serif;
$font2: "Lato", sans-serif;
$primarycolor: #e2be00;
$secondarycolor1: #dce100;
$secondaryhilight: #888c00;
$secondarycolor2: #e29a00;
$secondaryhilight2: #8c5f00;
$complementcolor: #330e9c;
