// ***VARIABLES***
$font1: "Merriweather", serif;
$font2: "Lato", sans-serif;
$primarycolor: #e2be00;
$secondarycolor1: #dce100;
$secondaryhilight: #888c00;
$secondarycolor2: #e29a00;
$secondaryhilight2: #8c5f00;
$complementcolor: #330e9c;

// ***MIXIN'S***
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

// ***START***
html,
body {
    // width: 100%;
    // height: 100%;
    margin: 0;

    // padding: 0px;
    // overflow-x: hidden;
}

body {
    background-image: url("../images/subtle_white_mini_waves.png");
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clearfix {
    clear: both;
}

// ***HEADER BAR***
header {
    font-family: 'Lato', sans-serif;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    opacity: .80;
    border-bottom: 1px solid black;
    background-color: #e2be00;

    #info {
        opacity: 1;

        .wrapper {
            position: absolute;
            left: 10px;
            display: inline-block;
            overflow: hidden;
            width: 50px;
            height: 50px;
            border-radius: 180px;

            img {
                position: relative;
                top: -18px;
                left: -7px;
            }
        }

        p {
            position: absolute;
            left: 65px;
            display: inline-block;
            margin: 0;
        }

        p:nth-child(2) {
            top: 5px;

            @extend p;
        }

        p:nth-child(3) {
            top: 25px;

            @extend p;
        }
    }

    #login {
        position: absolute;
        top: 0;
        right: 15px;
        opacity: 1;

        li {
            font-size: 25px;
            display: inline-block;
            margin: 0;
            padding: 13px 5px 17px 5px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        li:hover {
            cursor: pointer;
            color: white;
            background-color: $complementcolor;
        }
    }
}

// ***END HEADER BAR***

// ***IMAGE BANNER***
#jumbotron {
    width: 100%;
    margin: 0;

    .wrapper {
        overflow: hidden;
        height: 260px;

        img {
            width: 100%;
            height: 260px;
            object-fit: cover;
        }
    }
}

// ***END IMAGE BANNER***

// ***NAV BAR***
.nav {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    background-color: $secondarycolor2;

    // box-shadow: 4px 4px 15px;
    // text-align: center;
    ul {
        z-index: 5;
        height: 100%;

        li {
            z-index: 5;
            display: inline-block;
            height: 100%;
            margin-right: -4px;

            a {
                font-family: $font2;
                font-weight: bold;
                display: block;
                height: 100%;
                padding-top: 13px;
                padding-right: 15px;
                padding-left: 15px;
                transition: all .3s ease-in-out;
                text-decoration: none;
                color: black;
            }

            a:hover {
                color: white;
                background-color: $secondaryhilight2;
            }
        }
    }

    .dropdown {
        position: absolute;
        display: none;
        transition: all .3s ease-in-out;
    }

    .dropdown li {
        display: block;
        height: 50px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        background-color: $secondarycolor2;
    }

    .dropdown li:first-of-type {
        border-top: 1px solid black;
    }

    .dropdown li:last-of-type {
        border-bottom: 1px solid black;
    }

    .has_dropdown:hover .dropdown {
        display: block;
    }
}

// ***END NAV BAR***

.main_body {
    overflow: hidden;

    // ***SIDE BAR***
    .sidebar {
        float: left;
        width: 13%;
        height: 100%;
        margin-bottom: -101%;
        padding: 10px 10px 101% 10px;
        background-color: $primarycolor;

        // box-shadow: 2px 2px 15px;
        .featured {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 20px;
            border: 1px solid black;
            background-color: white;

            .title {
                font-family: $font2;
                width: 100%;
                height: 30px;
                text-align: center;
                vertical-align: middle;
                border-bottom: 1px solid black;
                background-color: $secondarycolor2;

                div {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .img {
                position: relative;
                width: 100%;
                height: 0;
                margin-bottom: 0;
                padding-bottom: 75%;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .info {
                font-family: $font2;
                font-size: 12px;
                width: 100%;
                margin-top: 0;
            }
        }

        .blog {
            height: auto;

            @extend .featured;

            .title {
                @extend .title;

                div {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .blog_posts {
                padding: 10px 5px;
                text-align: center;

                a {
                    font-family: $font2;
                    font-size: 14px;
                    font-weight: bold;
                    color: $complementcolor;
                }

                p {
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 12px;
                    margin-top: 2px;
                }

                p:last-child {
                    margin-top: 20px;
                    margin-bottom: 0;

                    a {
                        font-size: 12px;
                        font-weight: normal;
                    }
                }

                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 3px;
                    vertical-align: -15%;
                }
            }
        }
    }

    // ***END SIDE BAR***
    

    .content {
        float: right;
        width: 85%;
        padding: 50px 30px;

        h1 {
            font-family: $font1;
            text-align: center;
        }
    }
}

// ***FOOTER***
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: $complementcolor;
    color: white;
}

// ***END FOOTER***'