
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.clearfix
{
    clear: both;
}

.content
{
    width: 715px;
    margin: 0 auto;
}

.grid
{
    margin: 0 auto;
}

.grid a
{
    text-decoration: none;
}

.grid a:visited
{
    text-decoration: none;

    color: black;
}

.area_image
{
    position: relative;

    display: inline-block;

    width: 160px;
    height: 200px;

    text-align: center;
}

.area_image h3
{
    margin: 0;
    margin-bottom: 2px;
}


.area_image img
{
    position: absolute;
    left: 0;
    /*float: left;*/

    width: 150px;
    height: 150px;
    margin: 5px;
    margin-top: 0;

    -webkit-box-shadow: 2px 2px 15px black;
            box-shadow: 2px 2px 15px black;
}

.content .wrapper img:first-child
{
    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;

    opacity: 0;
}

.content .wrapper img:last-child
{
    -webkit-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;

    opacity: 1;
}

.content .wrapper:hover img:first-child
{
    opacity: 1;
}

.content .wrapper:hover img:last-child
{
    opacity: 0;
}
